| Hey there!  #{"\n"}
| You requested your password to be reset at #{config.app.name}  #{"\n"}
| Do not worry, we've got you covered !  #{"\n"}
| Your password reset code is #{resetCode}.  #{"\n"}
| Enter this code on the website. This code will expire in 24 hours.
